.card {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  width: 450px;
  height: 700px;
}

.image {
  width: 450px;
  box-shadow: 2px 2px 3px rgba(68, 68, 68, 0.6);
}

.skilllist {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skillButton {
  display: flex;
  margin: 3px;
  padding: 3px;
  /* width: 45%; */
  border: 1px solid lightslategrey;
  border-radius: 2px;
  box-shadow: inset 0px 0px 5px rgba(68, 68, 68, 0.6)
      /* , inset -5px -5px 10px blue; */,
    1px 1px 3px rgba(68, 68, 68, 0.6);
}

/* .name, .title, .description  */
body {
  font-family: "Courier New", Courier, monospace;
}

/* .html {
  background-color: #861657;
}

.css {
  background-color: #a64253;
}

.js {
  background-color: #fcf0cc;
}

.react {
  background-color: #d56aa0;
} */
